div#footer.clear-fix
  div.clear-fix
    div.pull-left.all-links.clear-fix
      div.col.pull-left
        div.title 用户帮助
        div.links
          div.link 服务中心
          div.link 常见问题
          div.link 在线客服
      div.col.pull-left
        div.title 商务合作
        div.links
          div.link 服务中心
          div.link 常见问题
          div.link 在线客服
      div.col.pull-left
        div.title 关于我们
        div.links
          div.link 服务中心
          div.link 常见问题
          div.link 在线客服
    div.pull-left.info-wrapper
      ul.infos
        li.info 24小时客服热线:10105757
        li.info 意见反馈: feedback@ele.me
        li.info 关注我们
    div.pull-left.qr-wrapper
      div.container.clear-fix
        div.qr-code.pull-left
          img(src='//static11.elemecdn.com/eleme/desktop/media/img/appqc.852963.png')
        div.info.pull-left
          div.title 下载手机版
          div.desc  扫一扫,手机订餐更方便
  div.copyright 增值电信业务许可证 : 沪B2-20150033 | 沪ICP备 09007032 | 上海工商行政管理 Copyright ©2008-2015 ele.me, All Rights Reserved.

