div#nav
  div.menu-item.icon.icon-logo
  div.pull-left
    div.menu-item.active 首页
    div.menu-item 品牌商家
    div.menu-item 我的订单
  div.pull-right
    div.menu-item.icon.credit
      i.icon-credit
      span 计分商城
    div.menu-item.icon.service
      i.icon-service
      span 服务中心
    div.menu-item.icon.app
      i.icon-app
      span 手机应用
      div.header-popup
    div.menu-item.icon.login
      i.icon-account
      span 登陆/注册