div#location
   span.title 当前位置:
   a(href='') 浦东新区花木陆家嘴实际花园
   a(href='' class='switch') [切换地址]
   div#search.pull-right
     div.table
       input(placeholder='搜索商家,美食...')
       i.icon.icon-search