div#sidebar.clear-fix
  div.sidebtn-wrapper.pull-left
    div.group.abs
      div.item.order
        i.icon.icon-order
        div.side-popup.abs.hide 我的订单
        div.triangle.abs.hide
      div.divider
      div.item.shoppingcart
        i.icon.icon-shoppingcart
        | 购物车
      div.divider
      div.item.mail
        i.icon.icon-mail
        div.side-popup.abs.hide 我的消息
        div.triangle.abs.hide
      div.item.ihistroy
        i.icon.icon-histroy
        div.side-popup.abs.hide 浏览历史
        div.triangle.abs.hide
    div.group.abs
      div.item.qr
        div.triangle.abs.hide
        i.icon.icon-qr
        div.qr-popup.abs.hide
          img(src='//static11.elemecdn.com/eleme/desktop/media/img/appqc.852963.png')
          div.desc 下载手机应用
      div.item.service
        i.icon.icon-service
        div.side-popup.abs.hide 联系客服
        div.triangle.abs.hide
      div.item.backTop(onclick="window.scrollTo(null,0)")
        i.icon.icon-backTop
        div.side-popup.abs.hide 返回顶部
        div.triangle.abs.hide
  div.content.pull-left